body {
  /* margin: 0; */
  background-color: #ffffff;
  background-size: auto;
  font-family: 'Times New Roman', Times, serif;
  
}

.searchBar {
  margin-top: 0em;
  justify-content: center;
  border-radius: 50px;
  display: flex;
  /* width:40%; */
  
}


.searchBar input[type="text"] {
  opacity: .8;
  text-align: center;
  background: rgb(255, 221, 30);
  /* border-color: red; */
  margin: 8px;
  /* border-radius: 50px; */
  opacity: .8;

}
/* .searchInput {
  border-radius: 50px;
} */

.filtering {
  text-align: center;
  display: flex;
  justify-content: center;
  /* margin: 8px; */
}

button {
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  border-color: red;
  background-color:rgb(255, 221, 30);
}

button:hover {
  border-color: blue;
  box-shadow: 1px 1px 5px 1px rgb(255, 217, 1);
  cursor: pointer;
}

.logo {
  display: block; 
  object-fit: cover; 
  object-position: center; 
  margin-left: auto;
  margin-right: auto;
  height: 850px;
  width: 850px;
}

.editFormImage {
  display: block; 
  object-fit: cover; 
  object-position: center; 
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: 350px;
}

.lego-image {
  display: block; 
  height: 350px; 
  width: 350px; 
  object-fit: cover; 
}
.lego-image-small {
  /* display:inline-flex;  */
  border:2px solid red;
  opacity: 0.9;
  height: 180px; 
  width: 300px; 
  object-fit: cover; 
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 0px; */
}



.lego-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lego-name {
  color: navy;
  /* font-style: bold; */
  text-align: center;
}

.lego-item_number {
  color: rgb(57, 67, 202);
  margin-top: -10px;
}

.footer{
  color: rgb(168, 168, 168);
}

.navbar {
  background-color: rgb(255, 217, 1);
  font-size: large;
  padding: 20px;
}

.navlinks-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.navlink-li {
  display: inline;
  margin: 25px;
  /* margin-right:auto; */
  text-align: center;
  padding-top: 18px;
  padding-bottom: 16px;
}

.logo-navlink-li {
  display: inline;
  margin: 25px;
  text-align: center;
  border-bottom: 3px solid transparent;
}

.navlink-li:hover {
  border-bottom: 3px solid red;
   /* background-color: rgb(255, 251, 0); */
  /* background-color: red; */
  /* transition: 0.4s; */
  /* border-radius: 50px; */
  /* opacity: .7; */
}



.navlink-item {
  color:#202020;
  text-decoration: none;
  padding: 15px;
  font-family: Abril Fatface;
}

/* .navlink-logo-img {
  background-color: #202020;
  height: 75px;
  width: 75px;
}   */

.form {
  /* width: 100%; */
  /* height: 100%; */
  margin-top: 75px;
  /* background-color: rgb(255, 217, 1); */
  display: block;
  /* border-radius: 50px; */
  
}

input[type="text"] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  /* border: 3px solid #ffffff; */
  border-color: red;
  opacity: .8;
  font-size: 15px;
  border-radius: 50px;
  
}


.legos-container {
  display: inline-grid; 
  grid-template-columns: auto auto auto;
  margin: 3rem;

}

input[type=button], input[type=submit] {
  background-color:rgb(255, 217, 1);
  /* border: none; */
  border-color: red;
  /* border-radius: 4px; */
  border-radius: 50px;
  /* color: white; */
  padding: 16px 32px;
  /* text-decoration: none; */
  margin: 4px 2px;
  cursor: pointer;

  
}

input[type=button], input[type=submit]:hover {
  background-color:orange;
  transition: 0.3s;
  border-color: red;

  
  
}

.btn {
  background-color:rgb(255, 217, 1);
  border-color: red;
  border-radius: 4px;
  /* color: white; */
  padding: 4px 8px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}


.delete-btn {
  background-color:rgb(255, 217, 1);
  border-color: red;
  border-radius: 4px;
  padding: 4px 8px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.btn:hover {
  background-color:green;
  transition: 0.4s;
}

.delete-btn:hover {
  background-color: rgb(231, 39, 39);
  transition: 0.4s;
}

.flip-card {
  background-color: transparent;
  height: 350px; 
  width: 350px; 
  padding: .6rem .4rem;
  display: inline-block; 
  /* perspective: 1000px; Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fdc52c;
  border-radius: 4px;
  opacity: .9;
  /* background-color: #bbb; */
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: orange;
  color: black;
  transform: rotateY(180deg);
  border-radius: 4px;
  border: rgb(221, 221, 221) solid 2px;
  text-align: center;
  height: relative;
  backface-visibility: hidden;
  min-width: 100%;  
  
}